<div class="row wrapper border-bottom white-bg page-heading">
        <script src="javascripts/egreso.js" />   
        <div class="col-lg-10">
            <h2>Egresos</h2>
        </div>
        <div class="col-lg-2">                        
            <button onclick="saveEgresos()" class="btn-primary btn btn-md">Guardar</button>    
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <!-- <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Concepto</label>
                        <input type="text" id="product_name" name="product_name" value="" placeholder="Buscar por concepto" class="form-control"> </div>
                </div>
            </div>
        </div> -->
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Crear egreso</label>
                        <input type="text" id="egreso-input" name="product_name" value="" placeholder="Egreso" class="form-control">
                        <input type="text" id="concepto-input" name="product_name" value="" placeholder="Concepto" class="form-control">
                        <button onclick="addEgreso()" class="btn-primary btn btn-xs">Crear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead id="egresos">

                            </thead>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination pull-right"></ul>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
