<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <script src="javascripts/liquidacion_internos.js" />
        <h2 id="title"></h2>
        <button ui-sref="index.cliente" class="btn-white btn btn-xs">Volver</button>
    </div>
    <div class="col-lg-2"> </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" >Nuevo Gasto</label>
                    <input type="text" id="descripcionGasto" name="descripcionGasto"  value="" placeholder="Descripción" class="form-control">
                    <input type="text" id="montoGasto" name="montoGasto"  value="" placeholder="Monto" class="form-control">
                    <h5>Obra:
                        <select id = "obraGasto"></select>
                    </h5>
                    <button onclick="addGasto()" class="btn-primary btn btn-xs">Crear</button>
                    <div id="created_successfully">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <label class="control-label" for="show_product_name">Hallo</label>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead id="gastos">

                        </thead>
                        <tfoot>
                        <tr>
                            <td colspan="6 ">
                                <div id="updated_successfully">

                                </div>
                                <ul class="pagination pull-right"></ul>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
