<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <script src="javascripts/liquidacionMTrabajadores.js" />
        <h2 id="title"></h2>
        <button ui-sref="index.revisarLiquidaciones" class="btn-white btn btn-xs">Volver</button>
    </div>
    <div class="col-lg-2"> </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <label class="control-label" for="show_product_name">Hallo</label>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead id="gastos">

                        </thead>
                        <tfoot>
                        
                            <td colspan="6 ">
                                <div id="updated_successfully">

                                </div>
                                <ul class="pagination pull-right"></ul>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
