<script src="javascripts/main.js" />

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Bienvenido</h2>
  </div>
  <div class="col-lg-2"> </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="ibox-content m-b-sm border-bottom" id ="myDIV" style="display: none">
      <div class="row">
          <div class="col-sm-4">
              <div class="form-group">
                  <label class="control-label" for="product_name">Crear Usuario</label>
                  <input type="text" id="correo-input" name="product_name" value="" placeholder="Correo" class="form-control">
                  <input type="text" id="contraseña-input" name="product_name" value="" placeholder="Contraseña" class="form-control">
                  <button id="createUser" class="btn-primary btn btn-xs">Crear</button>
              </div>
          </div>
      </div>
  </div>
</div>
