<div class="row wrapper border-bottom white-bg page-heading">
    <script src="javascripts/obra.js" />
    <div class="col-lg-10">
        <h2>Obras</h2>
    </div>
    <div class="col-lg-2"> </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="oClient">Cliente</label>
                    <input type="text" id="oClient" name="oClient" value="" placeholder="Buscar por cliente" class="form-control"> 
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Crear obra</label>
                        <input type="text" id="obra-input" name="product_name" value="" placeholder="Obra" class="form-control">
                        <input type="text" id="descripcion-input" name="product_name" value="" placeholder="Descripcion" class="form-control">
                        <input type="text" id="cliente-input" name="product_name" value="" placeholder="Cliente" class="form-control">
                        <input type="date" id="fechaIni-input" name="product_name" value="" placeholder="fechaIni" class="form-control">
                        <input type="date" id="fechaFin-input" name="product_name" value="" placeholder="fechaFin" class="form-control">
                        <button onclick="addObra()" class="btn-primary btn btn-xs">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">                        
                <label class="control-label" for="show_product_name">Obras</label>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead id="obras">

                            </thead>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination pull-right"></ul>    
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
