<div class="row wrapper border-bottom white-bg page-heading">
    <script src="javascripts/revisarLiquidaciones.js" />
    <div class="col-lg-10">
        <h2>Revisar Liquidaciones para trabajadores mano de obra</h2>
    </div>
    <div class="col-lg-2"> </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label class="control-label" for="mTrabajador">Buscar por trabajador mano de obras</label>
                    <input type="text" id="m_trabajador_filter" name="mTrabajador" value="" placeholder="Buscar por trabajador" class="form-control"> 
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <label class="control-label" for="show_product_name">Trabajadores mano de obra</label>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                            <th>Nombre
                            <th>Rut
                            <th class="text-right">Acción

                        <tbody id="m_trabajador">

                            </tbody>
                        <tfoot>
                                <tr>
                                    <td colspan="6 ">
                                            <div id="updated_successfully">

                                                </div>
                                        <ul class="pagination pull-right"></ul>
                        </tfoot>
                    </table>
            </div>
        </div>
    </div>
</div>
</div>
