<!DOCTYPE html>
<html>
  <head>
    <title>Taller Diseño</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/index.js"></script>
  </head>

  <body>

  </body>
</html>
